html, body {margin:0;padding:0}
#l-left{
    border: 1px solid #cacaca;
    float: left;
    width: 20%;
    margin: 0 1% 10px 1%;
}
#l-main {
    border: 1px solid #cacaca;
    margin: 10px 1% 10px 22%;
}
