<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fossil-core simple example</title>
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id="main">
        <h1>Did you forget the bower install in samples/simple directory ?</h1>
        <p>Then go to samples/simple/components and type <code>ln -s ../../.. fossil-core</code></p>
    </div>
  <script src="components/requirejs/require.js" ></script>
  <script type="text/javascript" charset="utf-8">
    require.config({
        baseUrl: '',
        paths: {
            'fossil': 'components/fossil-core/src',
            'jquery': 'components/jquery/jquery',
            'underscore': 'components/underscore/underscore',
            'backbone': 'components/backbone/backbone'
        },
        shim: {
            'underscore': {exports: '_'},
            'backbone': { deps: ['underscore', 'jquery'], exports: 'Backbone'}
        }
    });

    require([
        "jquery",
        "fossil/fossil",
        "underscore"
    ], function ($, Fossil, _) {

        var MyApplication = Fossil.Application.extend({
            // all routes are bound to a application wide event.
            // it is possible to register routes on Application
            // and Module.
            routes: {
                // index route will trigger 'route:index' event.
                '': 'route:index'
            },
            // easily bind events
            events: {
                'route:index': function () {
                    // forward to 'mail' url.
                    this.factories.router.navigate('mails', {replace: false})
                },
                'layout:setup': function (application, $el) {
                    this.$el.empty();
                }
            },
            selector: '#main',
            template: function () {
                return [
                        '<header>',
                            '<h1>My simple Fossil application</h1>',
                            '<nav>',
                                '<ul>',
                                    '<li><a class="contacts" href="#contacts">contacts</a></li>',
                                    '<li><a class="mails" href="#mails">mails</a></li>',
                                '</ul>',
                            '</nav>',
                        '</header>',
                        '<section data-fossil-placeholder="module"></section>',
                        '<p>Open your console to see something.</p>'
                    ].join('');
            }
        });

        var MailModule = Fossil.Module.extend({
            routes: {
                // main module route will trigger 'route:mail:index'
                '': 'route:mail:index',
                // show route
                '/:id': 'route:mail:show'
            },
            // some module level events
            events: {
                // main route will call index function
                'route:mail:index': 'index',
                // show route will call show function
                'route:mail:show': 'show',
                // call when module is selected
                'setup': function () {
                    console.log('setup mails');
                },
                // called on module switch
                'teardown': function () {
                    console.log('teardown mails');
                }
            },
            template: [
                '<h3>Mails</h3>',
                '<div data-fossil-fragment="groups" class="sidebar"></div>',
                '<div data-fossil-fragment="main" class="content"></div>',
                '<div style="clear:both"></div>'
            ].join(''),
            // our methods
            index: function () {
                console.log('mail index');
            },
            show: function (mailId) {
                console.log('show mail ' + mailId);
            }
        });

        var ContactModule = Fossil.Module.extend({
            routes: {
                // main module route will trigger 'route:contact:index'
                '': 'route:contact:index',
                // show route
                '/:id': 'route:contact:show'
            },
            // some module level events
            events: {
                // main route will call index function
                'route:contact:index': 'index',
                // show route will call show function
                'route:contact:show': 'show',
                // call when module is selected
                'setup': function () {
                    console.log('setup contacts');
                },
                // called on module switch
                'teardown': function () {
                    console.log('teardown contacts');
                }
            },
            // main template for contact module
            template: [
                '<h3>Contacts</h3>',
                '<div data-fossil-fragment="groups" class="sidebar"></div>',
                '<div data-fossil-fragment="main" class="content"></div>',
                '<div style="clear:both"></div>'
            ].join(''),
            fragments: {
                // this is the fragment rendered in the group placeholder
                'groups': Fossil.Fragment.extend({
                    template: function () {
                        return _.template([
                            '<ul>',
                                '<li><a href="#<%= path %>">list</a></li>',
                            '</ul>'
                        ].join(''), {
                            path: this.path
                        });
                    }
                }),
                // this is the fragment rendered in the main placeholder
                'main': Fossil.Fragment.extend({
                    parentEvents: {
                        'route:contact:index': function (id) {
                            this.$el.html(_.template([
                                '<ul>',
                                    '<li><a href="#<%= path %>/1">contact1</a></li>',
                                    '<li><a href="#<%= path %>/2">contact2</a></li>',
                                '</ul>'
                                ].join(''), {
                                    path: this.path
                                }));
                        },
                        'route:contact:show': function (id) {
                            this.$el.html('Show contact '+id);
                        }
                    }
                })
            },
            // our methods
            index: function () {
                console.log('contact index');
            },
            show: function (contactId) {
                console.log('show contact ' + contactId);
            }
        });

        // create and start the application
        var application = new MyApplication({
            factories: {
                'session': Fossil.Factories.Session,
                'router': new Fossil.Factories.Routing({
                        // create a link on modules
                        // to access router via this.router
                        linkToModule: true
                    })
            },
            modules: {
                // all routes for Mail module
                // will be prefixed with "mail"
                // you can use whatever you want
                'mails': MailModule,
                // all routes for Contact module
                // will be prefixed with "contact"
                'contacts': ContactModule
            }
        });

        // finaly, start application.
        application.start();
    });
  </script>
</body>
</html>
